{% extends 'payapp/base.html' %}

{% block title %}
    Payapp Account
{% endblock %}

{% block content %}

    <div class="content">
        <div class="profile-container">
            <h1>Account</h1>
            <div class="section">
                <div class="account-main-details">
                    <div class="account-name">{{ user.get_full_name }}</div>
                    <div class="account-balance">£10000</div>
                </div>
                <div class="account-number">Account Number: 12345678</div>
                <div class="account-sort-code">Sort Code: 123456</div>
            </div>
            <h1>Profile</h1>
            <div class="profile-table">
                <table>
                    <thead>
                        <tr>
                            <th>Field</th>
                            <th>Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Username</td>
                            <td>{{ user.username }}</td>
                        </tr>
                        <tr>
                            <td>Forename</td>
                            <td>{{ user.first_name }}</td>
                        </tr>
                        <tr>
                            <td>Surname</td>
                            <td>{{ user.last_name }}</td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td>{{ user.email }}</td>
                        </tr>
                        <tr>
                            <td>Phone Number</td>
                            <td>{{ user.phone_number }}</td>
                        </tr>
                        <tr>
                            <td>Password</td>
                            <td><a href="#">Change Password</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}