{% extends 'payapp/base.html' %}

{% block title %}
    Payapp Account
{% endblock %}

{% block content %}
    <div class="profile-container">
        <h1>Account</h1>
        <div class="profile-table">
            <table>
                <tbody>
                <tr>
                    <td>Username</td>
                    <td>{{ user.username }}</td>
                </tr>
                <tr>
                    <td>Forename</td>
                    <td>{{ user.first_name }}</td>
                </tr>
                <tr>
                    <td>Surname</td>
                    <td>{{ user.last_name }}</td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>{{ user.email }}</td>
                </tr>
                <tr>
                    <td>Phone Number</td>
                    <td>{{ user.phone_number }}</td>
                </tr>
                <tr>
                    <td>Balance</td>
                    <td>{{ user.get_currency_symbol }}{{ user.balance }}</td>
                </tr>
                <tr>
                    <td>Password</td>
                    <td><a href="#">Change Password</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}