{% extends 'payapp/admin-base.html' %}

{% block title %}
    Payapp Admin
{% endblock %}

{% block content %}
    <div class="admin-container">
        <h1>Users</h1>
        <div class="admin-table">
            <table>
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                    <th>Balance</th>
                    <th>Admin</th>
                    <th>View</th>
                </tr>
                </thead>
                <tbody>
                {% for user in all_users %}
                    <tr>
                            <td>{{ user.get_full_name }}</td>
                            <td>{{ user.username }}</td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.phone_number }}</td>
                            <td>{{ user.currency }}{{ user.balance }}</td>
                            <td>{{ user.is_superuser }}</td>
                            <td>
                                <a href="{% url 'admin-view' user.id %}">
                                    <i class="fa-solid fa-eye fa-lg"></i>
                                </a>
                            </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}