{% extends 'payapp/base.html' %}

{% block title %}
    Payapp Make Payment
{% endblock %}

{% block content %}

    <div class="content">
        <div class="direct-payment-container">
            <h1>Send Direct Payment</h1>
            <form method="post" class="pay">
                {% csrf_token %}
                {{ direct_payment }}
                <input type="submit" value="Send" />
            </form>
            <h1>Sent Direct Payments</h1>
            <div class="table-container">
                <table>
                    <thead>
                        <tr>
                            <th>Sent To</th>
                            <th>Reference</th>
                            <th>Sent On</th>
                            <th>Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        {%  for transaction in user_transactions %}                        
                            <tr>
                                <td>{{ transaction.receiver_email }}</td>
                                <td>{{ transaction.reference }}</td>
                                <td>{{ transaction.send_date }}</td>
                                <td>{{ transaction.amount }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}