{% extends 'payapp/base.html' %}

{% block title %}
    Payapp Make Payment
{% endblock %}

{% block content %}

    <div class="content">
        <div class="direct-payment-container">
            <h1>Send Direct Payment</h1>
            <form class="pay">
                <label hidden="hidden" for="account-number"></label>
                <input type="number" id="account-number" name="account-number" placeholder="Account Number: XXXXXXXX" min="8" max="8" required>
                <label hidden="hidden" for="sort-code"></label>
                <input type="number" id="sort-code" name="sort-code" placeholder="Sort Code: XXXXXX" min="6" max="6" required>
                <label hidden="hidden" for="reference"></label>
                <input type="text" id="reference" name="reference" placeholder="Reference" maxlength="50" required>
                <label hidden="hidden" for="amount"></label>
                <input type="number" id="amount" name="amount" placeholder="Amount" min="0" max="100" required><!-- max will be updated to max out at users available funds -->
                <button type="submit">Pay</button>
            </form>
            <h1>Sent Direct Payments</h1>
            <div class="table-container">
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Reference</th>
                            <th>Sent On</th>
                            <th>Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>User 1</td>
                            <td>Reference</td>
                            <td>Date</td>
                            <td>£500</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}