{% extends 'payapp/base.html' %}

{% block title %}
    Payapp Direct Payments
{% endblock %}

{% block content %}


    <div class="direct-payment-container">
        <h1>Send Direct Payment</h1>
        <form method="post" class="pay">
            {% csrf_token %}
            <label hidden="hidden" for="email"></label>
            <input type="email" id="email" name="email" class="email-field" placeholder="Email" required>
            <label hidden="hidden" for="reference"></label>
            <input type="text" id="reference" name="reference" class="reference-field" placeholder="Reference" maxlength="50" required>
            <label hidden="hidden" for="amount"></label>
            <input type="number" id="amount" name="amount" class="amount-field" placeholder="Amount" min="0" max="100" required><!-- max will be updated to max out at users available funds -->
            <button type="submit">Request</button>
        </form>
        <h1>Sent Direct Payments</h1>
        <div class="table-container">
            <table>
                <thead>
                <tr>
                    <th>Sent To</th>
                    <th>Reference</th>
                    <th>Sent On</th>
                    <th>Amount</th>
                </tr>
                </thead>
                <tbody>
                {% if user_direct_payments %}
                    {%  for direct_payment in user_direct_payments %}
                        <tr>
                            <td>{{ direct_payment.receiver_email }}</td>
                            <td>{{ direct_payment.reference }}</td>
                            <td>{{ direct_payment.send_date }}</td>
                            <td>{{ direct_payment.amount }}</td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td style="text-align: center" colspan="4">No Direct Payments</td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}