<!-- This page displays all the current users outstanding payment requests they have sent as well as every payment request they have received. they can also send payment requests from the page--> 

{% extends 'payapp/base.html' %}

{% block title %}
    Payapp Payment Requests
{% endblock %}

{% block content %}
    <div class="pay-request-container">
        <h1>Send Payment Request</h1>
        <form method="post" class="request" >
            {% csrf_token %}
            {{ payment_requests_form }}
            <input type="hidden" name="sender_email" value="{{ user.email }}">
            <input type="submit" value="Request" />
        </form>
        <div class="tables">
            <h1 class="sent">Sent Payment Requests</h1>
            <h1 class="rec">Received Payment Requests</h1>
            <div class="table-container sent-rec">
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Reference</th>
                            <th>Sent On</th>
                            <th>Amount</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% if user_sent_requests %}
                        {% for sent_request in user_sent_requests %}
                            <tr>
                                <td>{{ sent_request.receiver_email }}</td>
                                <td>{{ sent_request.reference }}</td>
                                <td>{{ sent_request.send_date }}</td>
                                <td>{{ sent_request.get_sender_currency_symbol }}{{ sent_request.sender_amount|floatformat:-2 }}</td>
                                {%  if sent_request.status == "PENDING" %}
                                    <td class="pending">{{ sent_request.status }}</td>
                                {%  elif sent_request.status == "REJECTED" %}
                                    <td class="rejected">{{ sent_request.status }}</td>
                                {%  elif sent_request.status == "CLEARED" %}
                                    <td class="accepted">{{ sent_request.status }}</td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td style="text-align: center" colspan="5">No Sent Payment Requests</td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
            <div class="table-container rec-table">
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Reference</th>
                            <th>Sent On</th>
                            <th>Amount</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% if user_received_requests %}
                        {% for received_request in user_received_requests %}
                            <tr>
                                <td>{{ received_request.sender_email }}</td>
                                <td>{{ received_request.reference }}</td>
                                <td>{{ received_request.send_date }}</td>
                                <td>{{ received_request.get_receiver_currency_symbol }}{{ received_request.receiver_amount|floatformat:-2 }}</td>
                                {% if received_request.status == "PENDING" %}
                                    <td class="buttons">
                                        <form method="get" action="/webapps2024/payment-requests/accept/">
                                            <input type="hidden" id="transaction_id" name="transaction_id" value="{{ received_request.id }}">
                                            <input type="hidden" id="user_id" name="user_id" value="{{ user.id }}">
                                            <button type="submit"><i class="fa-solid fa-check fa-lg accept"></i></button>
                                        </form>
                                        <form method="get" action="/webapps2024/payment-requests/reject/">
                                            <input type="hidden" id="id" name="id" value="{{ received_request.id }}">
                                            <button><i class="fa-solid fa-xmark fa-lg reject"></i></button>
                                        </form>
                                    </td>
                                {% elif received_request.status == "REJECTED" %}
                                    <td class="rejected">{{ received_request.status }}</td>
                                {% elif received_request.status == "CLEARED" %}
                                    <td class="accepted">{{ received_request.status }}</td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td style="text-align: center" colspan="5">No Received Payment Requests</td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}