<!-- This page shows the current user all of their cleared transactions which both include -->

{% extends 'payapp/base.html' %}

{% block title %}
    Payapp Transactions
{% endblock %}

{% block content %}
    <div class="transactions">
        <h1>Transactions</h1>
        <div class="table-container">
            <table>
                <thead>
                <tr>
                    <th>User</th>
                    <th>Reference</th>
                    <th>Date</th>
                    <th>Amount</th>
                    <th>Type</th>
                </tr>
                </thead>
                <tbody>
                {% if user_transactions %}
                    {%  for transaction in user_transactions %}
                        <tr>
                            {% if transaction.sender_email == user.email %}
                                <td>{{ transaction.receiver_email }}</td>
                            {%  else %}
                                <td>{{ transaction.sender_email }}</td>
                            {% endif %}
                            <td>{{ transaction.reference }}</td>
                            <td>{{ transaction.send_date }}</td>
                            {% if transaction.type == "DIRECT" %}
                                {% if transaction.sender_email == user.email %}
                                    <td class="amount-minus">-{{ transaction.amount }}</td>
                                {% elif transaction.receiver_email == user.email  %}
                                    <td class="amount-add">+{{ transaction.amount }}</td>
                                {% endif %}
                            {% elif transaction.type == "REQUEST" %}
                                {% if transaction.sender_email == user.email %}
                                    <td class="amount-add">+{{ transaction.amount }}</td>
                                {% elif transaction.receiver_email == user.email  %}
                                    <td class="amount-minus">-{{ transaction.amount }}</td>
                                {% endif %}
                            {% endif %}
                            <td>{{ transaction.type }}</td>
                        </tr>
                    {%  endfor %}
                {% else %}
                    <tr>
                        <td style="text-align: center" colspan="5">No Transactions</td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}