{% extends 'register/base.html' %}

{% block title %}
    Payapp Forgotten Password
{% endblock %}


{% block content %}
    <div class="content">
        <div class="forgotten-password-container">
            <h1>Sign In</h1>
            <form class="forgotten-password-form">
                <label hidden="hidden" for="email"></label>
                <input placeholder="Email" type="text" id="email" name="email">
                <input type="submit" value="Send Reminder">
            </form>
            <div class="footer">Return to <a href="/webapps2024/login/">Sign In</a></div>
        </div>
    </div>
{% endblock %}