{% extends 'register/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Payapp Registration
{% endblock %}


{% block content %}
    <div class="content">
        <div class="register-container">
            <h1>Create Account</h1>
            <form method="post" class="register-form">
                {% csrf_token %}
                {{ user_registration|crispy }}
                <div class="button-inputs">
                    <input type="reset" value="Reset" />
                    <input type="submit" value="Sign Up" />
                </div>
            </form>
            <div class="footer">Already have an account? <a href="/webapps2024/login/">Sign In</a></div>
        </div>
    </div>
{% endblock %}