.admin-container {
    max-height: 100%;
    overflow: hidden;

    h1 {
        margin: 40px 60px 0 60px;
        border-bottom: 1px solid black;
    }

    .admin-table {
        margin: 40px 60px 40px 60px;

        table {
            width: 100%;
            border-collapse: collapse;

            thead {
                tr {
                    th {
                        padding: 10px;
                        background-color: #00A3FF;
                        font-size: larger;
                        color: floralwhite;
                    }
                }
            }

            tbody {
                tr {
                    td {
                        padding: 10px;
                        text-align: center;

                        &.pending {
                            color: goldenrod;
                        }
                        &.cleared {
                            color: green;
                        }
                        &.rejected {
                            color: orangered;
                        }
                    }
                }

                tr:nth-child(even) td {
                    background-color: lightgrey;
                }

                tr:hover {
                    box-shadow: 0 0 20px -5px black;
                    position: relative;
                    z-index: 100;
                }
            }
        }
    }
}