
h1 {
    a {
        text-decoration: none;
        color: black;
    }

    a:hover{
        filter: drop-shadow(0 0 .5rem black);
    }
}

.admin-view-container {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 1fr;
    gap: 0 0;
    grid-template-areas:
    "."
    ".";
    height: calc(100vh - 323px);

    h1 {
        margin: 40px 60px 0 60px;
        border-bottom: 1px solid black;
    }

    .user-transactions-table {
        margin: 40px 60px 40px 60px;
        overflow: auto;

        table {
            width: 100%;
            border-collapse: collapse;

            thead {
                tr {
                    th {
                        padding: 10px;
                        background-color: #00A3FF;
                        font-size: larger;
                        color: floralwhite;
                    }
                }
            }

            tbody {
                tr {
                    td {
                        padding: 10px;
                        text-align: center;

                        &.amount-minus {
                            color: red !important;
                        }

                        &.amount-add {
                            color: green !important;
                        }

                        &.pending {
                            color: goldenrod;
                        }
                        &.accepted {
                            color: green;
                        }
                        &.rejected {
                            color: orangered;
                        }
                    }
                }

                tr:nth-child(even) td {
                    background-color: lightgrey;
                }

                tr:hover {
                    box-shadow: 0 0 20px -5px black;
                    position: relative;
                    z-index: 100;
                }
            }
        }
    }
}