@import "navbar.css";
@import "direct-payments.css";
@import "payment-requests.css";
@import "transactions.css";
@import "account.css";
@import "admin.css";

body,html {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	overflow: hidden;
	height: 100%;
	width: 100%;
}

.unauthorised {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.page {
	display: flex;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	background-color: floralwhite;
}

.content {
	height: 100%;
	width: 100%;
	background-color: floralwhite;
	position: relative;
	overflow: hidden;
	margin-left: 72px;

	.section {
		box-shadow: 0 0 20px -5px #000;
		display: flex;
		flex-direction: column;
		border-radius: 15px;
		margin: 40px 60px 0 60px !important;
		padding: 20px 40px 30px 40px;
		justify-content: space-between;

		.account-main-details {
			display: flex;
			justify-content: space-between;

			.account-name, .account-balance {
				font-size: xxx-large;
				font-weight: 500;
			}
		}

		.account-email{
			color: grey;
			font-weight: 500;
			font-size: large;
		}
	}
}