.direct-payment-container {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.4fr 0.1fr 4.3fr;
    gap: 0 0;
    grid-template-areas:
    "."
    "."
    "."
    ".";
    max-height: 100%;

    h1 {
        border-bottom: 1px solid #000;
        margin: 40px 60px 0 60px !important;
    }

    .pay {
        margin: 40px 60px 0 60px;
        border-radius: 15px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        gap: 20px;
        flex-wrap: wrap;

        button {

            background-color: #00A3FF;
            cursor: pointer;
            color: floralwhite;
            font-weight: bold;
        }

        button:hover {
            filter: drop-shadow(0 0 .5rem black);
        }

        button:active {
            filter: none;
        }

        .email-field {
            width: 28% !important;
        }

        .reference-field {
            width: 28% !important;
        }

        .amount-field {
            width: 18% !important;
        }

        input, button {
            min-width: 200px;
            width: 18%;
            padding: 15px;
            border: 1px solid #000;
            border-radius: 5px;
            box-sizing: border-box;
        }
    }

    .table-container {
        overflow: auto;
        margin: 20px 60px 40px 60px !important;

        table {
            border-collapse: collapse;
            width: 100%;
            position: relative;

            thead {
                tr {
                    th {
                        width: 15%;
                        padding: 10px;
                        background-color: #00A3FF;
                        color: floralwhite;
                        font-size: larger;
                        position: sticky;
                        z-index: 100;
                        top: 0;
                    }

                    th:nth-child(2) {
                        width: 55%;
                    }

                    th:first-child, th:nth-child(2) {
                        text-align: left;
                        padding-left: 20px;
                    }
                }
            }

            tbody {
                tr {
                    td {
                        width: 15%;
                        padding: 10px;
                        text-align: center;
                        font-size: large;

                        &.pending {
                            color: gold !important;
                        }
                        &.rejected {
                            color: orangered !important;
                        }
                        &.accepted {
                            color: green !important;
                        }
                    }

                    th:nth-child(2) {
                        width: 55%;
                    }

                    td:first-child, td:nth-child(2) {
                        text-align: left;
                        padding-left: 20px;
                    }
                }
                tr:nth-child(odd) td {
                    background-color: lightgrey;
                }

                tr:hover {
                    box-shadow: 0 0 20px -5px black;
                    position: relative;
                    z-index: 100;
                }
            }
        }
    }
}