.transactions {
    display: flex;
    flex-direction: column;
    max-height: 100%;

    h1 {
        border-bottom: 1px solid #000;
        margin: 40px 60px 0 60px !important;
    }

    .table-container {
        margin: 40px 60px 40px 60px;
        overflow: auto;

        table {
            width: 100%;
            border-collapse: collapse;
            position: relative;

            thead {
                tr {
                    th {
                        padding: 10px;
                        background-color: #00A3FF;
                        color: floralwhite;
                        font-size: larger;
                        position: sticky;
                        z-index: 100;
                        top: 0;
                    }

                    th:first-child, th:nth-child(2) {
                        text-align: left;
                        padding-left: 20px;
                    }
                }
            }

            tbody {
                tr {
                    td {
                        padding: 10px;
                        text-align: center;

                        &.amount-minus {
                            color: red !important;
                        }

                        &.amount-add {
                            color: green !important;
                        }
                    }

                    td:first-child, td:nth-child(2) {
                        text-align: left;
                        padding-left: 20px;
                    }
                }

                tr:nth-child(odd) td {
                    background-color: lightgrey;
                }

                tr:hover {
                    box-shadow: 0 0 20px -5px black;
                    position: relative;
                    z-index: 100;
                }
            }

        }
    }
}