.login-container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: floralwhite;
    border-radius: 15px;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
    padding: 40px;


    .login-form {
        width: 100%;
        padding: 30px;
        border-radius: 5px;
    }

    .login-form .flex-row {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5px;
        justify-content: space-between;
    }

    .login-form .span {
        font-size: 14px;
        font-weight: 500;

        &.blue {
            margin-left: 5px;
            cursor: pointer;

            a {
                text-decoration: none;
                color: #00A3FF;

            }
        }
    }

    .login-form .span:hover a {
        filter: drop-shadow(0 0 .5rem black);
    }

    h1 {
        text-align: center;
        margin: 0 !important;
        color: #00A3FF;
    }

    .login-form label {
        display: block;
        font-size: large;
        margin-bottom: 2px;
    }

    .login-form input[type="text"],
    .login-form input[type="password"] {
        width: 100%;
        padding: 10px;
        margin-bottom: 20px;
        border: 1px solid #000;
        border-radius: 5px;
        box-sizing: border-box;
    }

    .login-form input[type="submit"] {
        width: 100%;
        padding: 10px;
        margin-top: 20px;
        background-color: #00A3FF;
        border-radius: 15px;
        border: none;
        cursor: pointer;
        font-size: medium;
        color: floralwhite;
    }

    .login-form input[type="submit"]:hover {
        filter: drop-shadow(0 0 .5rem black);
    }

    .login-form input[type="submit"]:active {
        filter: none;
    }

    .footer {
        font-weight: 500;

        a {
            color: #00A3FF;
            text-decoration: none;
        }
    }

    .footer a:hover {
        filter: drop-shadow(0 0 .5rem black);
    }

    .footer a:active {
        filter: none;
    }
}