.register-container {
    width: 50%;
    height: 75%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: floralwhite;
    border-radius: 15px;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
    padding: 40px;


    .register-form {
        width: 100%;
        height: 100%;
        padding: 0 30px 30px 30px;
        border-radius: 5px;
        overflow: auto;
    }

    h1 {
        text-align: center;
        margin-bottom: 20px;
        color: #00A3FF;
    }

    .register-form label {
        display: block;
        font-size: large;
        margin-bottom: 2px;
    }

    .register-form input[type="text"],
    .register-form input[type="email"],
    .register-form input[type="tel"],
    .register-form input[type="password"],
    .register-form select {
        width: 100%;
        padding: 10px;
        border: 1px solid #000;
        border-radius: 5px;
        box-sizing: border-box;
        margin-bottom: 20px;
    }


    .register-form input[type="submit"] {
        width: 100%;
        padding: 10px;
        margin-top: 20px;
        background-color: #00A3FF;
        border-radius: 15px;
        border: none;
        cursor: pointer;
        font-size: medium;
        box-shadow: 0 0 10px -4px #000;
        color: floralwhite;
    }

    .register-form input[type="submit"]:hover {
        filter: drop-shadow(0 0 .5rem black);
    }

    .register-form input[type="submit"]:active {
        filter: none;
    }

    .footer {
        font-weight: 500;
        text-align: center;
        margin-top: 20px;

        a {
            color: #00A3FF;
            text-decoration: none;
        }
    }

    .footer a:hover{
        filter: drop-shadow(0 0 .5rem black);
    }

    .footer a:active {
        filter: none;
    }
}